(
    id: "yellow_crane_tower",
    name: "黄鹤楼（简化版）",
    cells: [
        (-2, 0, -2, "taiji"),
        (-2, 0, -1, "taiji"),
        (-2, 0, 0, "taiji"),
        (-2, 0, 1, "taiji"),
        (-2, 0, 2, "taiji"),
        (-1, 0, -2, "taiji"),
        (-1, 0, -1, "taiji"),
        (-1, 0, 0, "taiji"),
        (-1, 0, 1, "taiji"),
        (-1, 0, 2, "taiji"),
        (0, 0, -2, "taiji"),
        (0, 0, -1, "taiji"),
        (0, 0, 0, "taiji"),
        (0, 0, 1, "taiji"),
        (0, 0, 2, "taiji"),
        (1, 0, -2, "taiji"),
        (1, 0, -1, "taiji"),
        (1, 0, 0, "taiji"),
        (1, 0, 1, "taiji"),
        (1, 0, 2, "taiji"),
        (2, 0, -2, "taiji"),
        (2, 0, -1, "taiji"),
        (2, 0, 0, "taiji"),
        (2, 0, 1, "taiji"),
        (2, 0, 2, "taiji"),
        (-2, 1, -2, "hongzhu"),
        (-2, 2, -2, "hongzhu"),
        (-2, 3, -2, "hongzhu"),
        (-2, 1, 2, "hongzhu"),
        (-2, 2, 2, "hongzhu"),
        (-2, 3, 2, "hongzhu"),
        (2, 1, -2, "hongzhu"),
        (2, 2, -2, "hongzhu"),
        (2, 3, -2, "hongzhu"),
        (2, 1, 2, "hongzhu"),
        (2, 2, 2, "hongzhu"),
        (2, 3, 2, "hongzhu"),
        (-2, 4, -2, "liangfang"),
        (-2, 4, 1, "liangfang"),
        (-1, 4, -2, "liangfang"),
        (-1, 4, 1, "liangfang"),
        (0, 4, -2, "liangfang"),
        (0, 4, 1, "liangfang"),
        (1, 4, -2, "liangfang"),
        (1, 4, 1, "liangfang"),
        (-2, 5, -2, "louban"),
        (-2, 5, -1, "louban"),
        (-2, 5, 0, "louban"),
        (-2, 5, 1, "louban"),
        (-1, 5, -2, "louban"),
        (-1, 5, -1, "louban"),
        (-1, 5, 0, "louban"),
        (-1, 5, 1, "louban"),
        (0, 5, -2, "louban"),
        (0, 5, -1, "louban"),
        (0, 5, 0, "louban"),
        (0, 5, 1, "louban"),
        (1, 5, -2, "louban"),
        (1, 5, -1, "louban"),
        (1, 5, 0, "louban"),
        (1, 5, 1, "louban"),
        (-2, 6, -2, "liuliwa"),
        (-2, 6, -1, "liuliwa"),
        (-2, 6, 0, "liuliwa"),
        (-2, 6, 1, "liuliwa"),
        (-1, 6, -2, "liuliwa"),
        (-1, 6, -1, "liuliwa"),
        (-1, 6, 0, "liuliwa"),
        (-1, 6, 1, "liuliwa"),
        (0, 6, -2, "liuliwa"),
        (0, 6, -1, "liuliwa"),
        (0, 6, 0, "liuliwa"),
        (0, 6, 1, "liuliwa"),
        (1, 6, -2, "liuliwa"),
        (1, 6, -1, "liuliwa"),
        (1, 6, 0, "liuliwa"),
        (1, 6, 1, "liuliwa"),
        (0, 7, 0, "baoding"),
        (0, 2, 2, "biane"),
        (2, 4, 2, "denglong"),
        (-2, 4, 2, "denglong"),
    ],
)
